.consult {
  background: var(--photo-gradient);
  padding: var(--47-spacing) 0;
  position: relative;
  overflow: hidden;
  z-index: 10;
  &::after {
    @include psevdo;
    width: max(25.8vw, 10rem);
    height: max(23.8vw, 10rem);
    background-image: url('../../img/sprite/circle.svg');
    background-repeat: no-repeat;
    right: -5%;
    background-size: cover;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
    @include max-w($med-q) {
      top: 0;
    }
  }
  &__body {
    display: grid;
    grid-template-columns: 1.1fr 1.65fr;
    align-items: center;
    grid-gap: max(8.75vw, 5rem);
    @include max-w($med-q) {
      display: flex;
      flex-direction: column-reverse;
      grid-gap: 3rem;
    }
  }
  &__descr {
    margin-top: 20px;
    max-width: 22.8125rem;
    font-weight: 400;
    p {
      font-size: clamp(1rem, 1.25vw, 1.25rem);
    }
  }
  &__btn {
    margin-top: 25px;
  }
}
