.header {
  color: var(---clr-black);
  padding: var(--20-spacing) 0 var(--31-spacing);
  &__container {
    max-width: 96.625em;
  }
  &__body {
    @include al-flex;
    justify-content: space-between;
  }
  &__logo {
    width: max(13.0625vw, 8rem);
  }
  &__navigation {
    @include al-flex;
  }
  &__tel {
    padding-left: clamp(4rem, 7.8125vw, 7.8125rem);
  }
  &__tel-dig {
    color: var(--hover-green-clr);
    font-size: clamp(1rem, 1vw, var(--20-spacing));
    font-weight: 600;
    &:hover {
      text-decoration: underline
    }
  }


$mob-mq: 46.875em;

@include max-w($mob-mq) {
  .burger {
    display: grid !important;
  }
  .header {
    .nav {
      display: none;
    }
    &__tel {
      margin-right: clamp(15px, 3.125vw, var(--50-spacing));
    }
  }
}

.nav {
  @include max-w($mob-mq) {
    display: none;
  }
  &__list {
    @include al-flex;
    grid-gap: clamp(3rem, 5.3125vw, 5.3125rem);
  }
  &__link {
    font-size: clamp(.8rem, 1vw, 1rem);
    font-weight: 500;
    position: relative;
    &::before {
      @include psevdo;
      width: 100%;
      height: 2px;
      background-color: var(--hover-green-clr);
      opacity: 0;
      top: 25px;
      transition: opacity .3s cubic-bezier(0.215, 0.610, 0.355, 1);
    }
    &:hover::before {
      opacity: 1;
    }
  }
}

.mob-menu {
  position: fixed;
  width: 100%;
  max-width: 320px;
  min-height: 100vh;
  box-shadow: 10px 0 40px 9px rgb(0 0 0 / 35%);
  height: 100%;
  background-color: var(--white-clr);
  z-index: 999;
  margin-top: -20px;
  transition-delay: .2s;
  transition: all .4s;
  transform: translateX(-150%);
  .home__btn-row {
    flex-direction: column;
    grid-gap: 1rem;
  }
  .mob-list {
    display: flex;
    flex-direction: column;
    grid-gap: 3rem;
    &__link {
      font-size: 1.3rem;
      color: var(---clr-black);
      text-transform: uppercase;
      font-weight: 500;
    }
  }
  .home__btn--white {
    color: var(--green-clr);
    font-weight: 500;
  }
  &__inner {
    height: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__heading {
    img {
      width: 150px;

    }
  }
}

.burger {
  display: grid;
  grid-gap: 5px;
  display: none;
  position: relative;
  width: 25px;
  height: 25px;
  z-index: 1000;
  span {
    display: block;
    position: absolute;
    width: 25px;
    height: 3px;
    border-radius: 10px;
    background-color: var(--green-clr);
    transition: top 0.2s ease-in-out, transform 0.3s ease-in-out 0.2s, opacity 0.1s ease-in-out 0.2s, left 0.3s ease-in-out;
    &:nth-child(1) {
      top: 0;
    }
    &:nth-child(2) {
      top: 10px;

    }
    &:nth-child(3) {
      top: 20px;
    }
    &:nth-child(4) {
      top: 10px;
    }
  }
}


.--active-burger {
span {
  &:nth-child(1) {
    transform-origin: center;
    transform: rotateY(90deg);
  }
  &:nth-child(2) {
    transform: rotate(45deg);
  }
  &:nth-child(3) {
    transform-origin: center;
    transform: rotateY(90deg);
  }
  &:nth-child(4) {
    transform: rotate(-45deg);
  }
}
}
}

body {
  position: relative;
  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(7,7,7,.523);
    z-index: 50;
    opacity: 0;
    transition: all .3s linear;
    visibility: hidden;
  }
}

.--menu-opened  {
  &::before {
    opacity: 1;
    visibility: visible;
  }
}

.--active-menu {
  transform: translateX(0)!important;
}
