.order {
  padding: clamp(3.125rem, 6.875vw, 6.875rem) 0;
  position: relative;
  overflow: hidden;
  &::after {
    @include psevdo;
    width: max(23.8vw, 10rem);
    height: max(23.8vw, 10rem);
    background-image: url('../../img/sprite/circle-green.svg');
    background-repeat: no-repeat;
    right: -10%;
    top: -50%;
    background-size: contain;
    z-index: -1;
  }
}

.order-list {
  padding-top: clamp(45px, 4.6875vw, 74px);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  grid-gap: 3rem 1rem;
  &__heading {
    @include al-flex;
    justify-content: space-between;
    max-width: 18rem;
  }
  &__name {
    margin-top: 15px;
  }
  &__item {
    flex: 1 1 20%;
  }
  &__item:nth-child(1) > .order-list__descr {
      max-width: 300px;
  }
  &__item:last-child > .order-list__name {
    margin-top: 13px;
  }
  &__arrow {
    width: max(10.4375vw, 5.375rem);
  }
}

@include max-w($small-q) {
  .order-list {
    flex-direction: column;
    &__arrow {
      display: none;
    }
    &__heading {
      max-width: 100%;
    }
    &__item {
      margin-inline: auto;
    }
  }
}
